<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<img src="http://placehold.it/300x300" alt="">
		</div>
		<div class="col-sm-7">
			<h2><%= @user.full_name %></h2>
			<h4><%= @user.city %></h4>
			<h4>Joined: <%= @user.created_at.strftime("%B %Y") %></h4>
		</div>

		<div class="col-sm-1">
			<%= button_to "Edit", edit_user_path(current_user) %>
		</div>
	</div>

	<br>
	<hr>
	<br>

	<div class="container">
		 <!-- col-sm-10 col-sm-offset-1 -->
		<% @posts.each do |post| %>
			<div class="row">
				<div class="user-post col-sm-10 col-sm-offset-1">
					<div class="col-sm-3">
						<img src="http://placehold.it/150x150" alt="">
					</div>
					<div class="col-sm-9">
						<h3><%= link_to post.title, city_post_path(post.city_id, post.id) %></h3>
						<div>
							<%= post.content %>
						</div>
						<h6><%= post.created_at.strftime("%B %d, %Y") %></h6>
					</div>
				</div>
			</div>
			<br>
		<% end %>
	</div>
</div>