<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<%= image_tag @user.avatar.url(:medium) %>
		</div>
		<div class="col-sm-7">

			<h2><%= @user.full_name %></h2>
			<h4><%= @city.name %></h4>
			<h4>Joined: <%= @user.created_at.strftime("%B %Y") %></h4>
		</div>

		<div class="col-sm-1">
			<% if current_user == @user %> 
			<%= button_to "Edit", edit_user_path(current_user) %>
			<% end %>
		</div>
	</div>

	<br>
	<hr>
	<br>

	<div class="container">
		<!-- col-sm-10 col-sm-offset-1 -->
		<% @posts.each do |post| %>						
		<div class="row">
			<div class="user-post col-sm-10 col-sm-offset-1">
				<div class="col-sm-3">
					<img src="http://placehold.it/150x150" alt="">
				</div>
				<div class="col-sm-9">
					<h3><%= link_to post.title, city_post_path(post.city_id, post.id) %></h3>
					<h6><%= post.created_at.strftime("%B %d, %Y") %></h6>
					<div>
						<%= post.content %>
						<% if current_user == @user %>
						<%= button_to "Edit", edit_city_post_path(post.city_id, post.id)%>
						<%= button_to "Delete", city_post_path(post.city_id, post.id), method: :delete, data: { confirm: "You sure?" } %> 
						<% end %> 
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<% end %>
</div>
</div>