<style>
	.jumbotron {
		background: url(<%= @san_fran.img_url %>);
		color: white;
	}
</style>

<div class="jumbotron">
<h1>Vagabundo</h1>
</div>

<h1 class="tagging">Posts with <%= @tag %> tag:</h1>

<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<% if @posts.count >= 1 %>
			<% @posts.each do |post| %>

			<div class="row">
				<div class="col-md-2">
					<% author =  User.find(post.user_id) %>
					<%= image_tag author.avatarthumb.url(:thumb) %>
				</div>

				<div class="col-md-9">
					<div>
						<span class="post-render-title"><%= link_to post.title, city_post_path(post.city_id, post.id) %></span> by <%=link_to author.full_name, user_path(author) %>
					</div>
				<br>
					<div>
						<%= post.created_at.strftime("%B %d, %Y") %>
					</div>
				<br>
					<div>
						Tags: <%= raw post.tag_list.map { |t| link_to t, tags_path(t)}.join(', ') %> 
					</div>
				<br>
					<div>
						<%= truncate(post.content, length: 1000) { link_to "Read More", city_post_path(post.city_id, post.id)} %>
					</div>
				</div>
				<div class="col-md-1">
					<% user = User.find(post.user_id) %> 
					<% if current_user == user %>
						<%= link_to edit_city_post_path(post.city_id, post.id), class: 'btn btn-success' do %>
						  <i class="glyphicon glyphicon-edit"></i>
						<% end %>
						<%= link_to city_post_path(post.city_id, post.id), method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-success' do %>
						  <i class="glyphicon glyphicon-remove"></i>
						<% end %> 
					<% end %> 
				</div>
			</div>
			<hr>
			<% end %>
			<% end %> 
		</div>
	</div>
</div>
