<div class="jumbotron">
	<%= @city.name %>
</div>
<!-- use button_to? -->
<button id="new-post-btn" class="btn btn-lg-default"><%= link_to "Create New Post", new_city_post_path(@city) %></button>
<!-- EACH POST FOR CITY -->
<!-- thumbnail -->
<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<% if @posts.count >= 1 %>
			<% @posts.each do |post| %>

			<div class="row">
				<div class="col-sm-3">
					<% author =  User.find(post.user_id) %>
					<%= image_tag author.avatar.url(:thumb) %>
				</div>

				<div class="col-sm-9">

					<div>
						<%= link_to post.title, city_post_path(post.city_id, post.id) %>
					</div>
				<br>
					<div>
						<%= post.content %>
					</div>
				<br>
					<div>
						Posted by: <%=link_to author.full_name, user_path(author) %>
					</div>
				<br>
					<div>
						<%= post.created_at.strftime("%B %d, %Y") %>
					</div>
				<br>
					<% user = User.find(post.user_id) %> 
					<% if current_user == user %>
						<%= button_to "Edit", edit_city_post_path(post.city_id, post.id)%>
						<%= button_to "Delete", city_post_path(post.city_id, post.id), method: :delete, data: { confirm: "You sure?" } %> 
					<% end %> 
				<br>

				</div>
			</div>
			<hr>
			<% end %>
			<% end %> 
		</div>
	</div>
</div>