<div class="jumbotron">
	<%= @city.name %>
</div>
<!-- use button_to? -->
<button id="new-post-btn" class="btn btn-lg-default"><%= link_to "Create New Post", new_city_post_path(@city) %></button>
<!-- EACH POST FOR CITY -->
<!-- thumbnail -->
<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<% if @posts.count >= 1 %>
				<% @posts.each do |post| %>

				<div class="col-sm-2">
					<img src="http://placehold.it/100x100" alt="">
				</div>

				<div class="col-sm-10">

					<div>
						<%= link_to post.title, city_post_path(post.city_id, post.id) %>
					</div>
					<br>
					<div>
						<%= post.content %>
					</div>
					<br>
					<div>
						<% author =  User.find(post.user_id) %>
						Posted by: <%=link_to author.full_name, user_path(author) %>
					</div>
					<% user = User.find(post.user_id) %> 
					<% if current_user == user %>
						<%= button_to "Edit", edit_city_post_path(post.city_id, post.id)%>
						<%= button_to "Delete", city_post_path(post.city_id, post.id), method: :delete, data: { confirm: "You sure?" } %> 
					<% end %> 
					<br>

				</div>
				<% end %>
			<% end %> 
		</div>
	</div>
</div>